%li.writing{id: "writing_#{writing.id}"}
  = image_tag "icons/document.png", class: "list-icon"
  = writing.title
  = icon_link_to 'remove', writing, method: :delete, remote: true, data: {confirm: "Are You Sure?"}, class: 'link-warning remove_writing_button pull-right'
