= hidden_field_tag :writing_id,  @writing.try(:id) || (current_user.nil? ? "" : 0), id: "data_writing_id"
= hidden_field_tag :category_id, @writing.try(:category_id),                        id: "data_category_id"
= hidden_field_tag :private,     @writing.try(:private),                            id: "data_private"
