#list.writing_list.box
  %ul.category_root_writings.category_writings
    - @categories.each do |category|
      = render partial: "categories/category", locals: {category: category, writings: @writings[category.id]}

    - if !@writings[0].nil? and !@writings[0].empty?
      = render @writings[0]
