/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

@import "bootstrap";

.display_inline {
  display: inline-block;
}

/*
 * CUSTOM alert
 */

.alert-custom {
  padding: 3px 0;
  margin-bottom: 10px;
}

.alert-custom.alert-dismissable button {
  right: 0px;
}

.alert-custom.alert-dismissable.text-success {
  border-bottom: 1px solid #{$brand-success};

  button {
    color: #{$brand-success};
  }
}

.alert-custom.alert-dismissable.text-info {
  border-bottom: 1px solid #{$brand-info};

  button {
    color: #{$brand-info};
  }
}

.alert-custom.alert-dismissable.text-danger {
  border-bottom: 1px solid #{$brand-danger};

  button {
    color: #{$brand-danger};
  }
}
