// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*
 *= require application
 *= require_self
 */

html, body {
  margin: 0px;
  padding: 0px;
}

.header {
  * {
    margin-right: 10px;
  }
}

.message,
.menu {
  margin-top: 20px;
}

.box {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;

  display: inline-block;
  
  width: 100%;
  padding: 3px;
}

.source {
  border: 1px solid #000;
}

.target {
  border: 1px solid #000;
  overflow: auto;
}

.list {
  border: 1px solid #000;
}

.writing {
  cursor: pointer;
}

.writing:hover {
  background-color: #DDD;
}

.active_writing {
  background-color: #AFF
}
