if($('#list .category').last().exists()) {
  $('#list .category').last().after("<%=j render @category %>")
} else {
  $('#list ul').prepend("<%=j render @category %>")
}

$('#modal-edit-writing #category_id').append("<option value=<%= @category.id %>><%= @category.name %></option>")
$('#modal-new-category').modal('hide')
